<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- APPENDER -->
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>[%d{HH:mm:ss.SSS}] [%X{Slf4jMDCFilter.UUID}] %-5level
				%logger.%method\(%file:%line\) - %msg%n</Pattern>
		</encoder>
	</appender>
	<!-- log4jdbc -->
	<logger name="jdbc.sqltiming" level="DEBUG" />
	<logger name="jdbc.resultsettable" level="DEBUG" />

	<root level="ERROR">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>